* {
    margin: 0;
    padding: 0;
}

/* Header of the Page */
.header{
    background-color:bisque;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    }

.fish:hover a{
    color: red;
}

.order:hover a{
    color: red;
}

.login:hover a{
    color: red;
}
 
.headerright{ 
    display: flex;
    margin-right: 30px;
}    

.headerright a{
    text-decoration: none;
}

.headerright div{
    margin-right: 30px;
    font-size:20px;
}

.logo img {
width: 80px;
height:80px;
border-radius: 100px;
margin-left: 50px;
}

body{
    background-color: antiquewhite;
}
table{
    background-color: aliceblue;
}
button{
    text-align: center;
}

.Vacuum ul li{
font-size: 20px;
font-family:'Courier New', Courier, monospace;
text-decoration:dotted;
}

.Vacuum h1{
font-size:30px;
}

.Footer address{
padding: 30px;
text-align: flex;
background-color: bisque;
width: 100%;
}