* {
    margin: 0;
    padding: 0;
}

/* Header of the Page */
.header{
    background-color:bisque;
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    }

.fish:hover a{
    color: red;
}

.order:hover a{
    color: red;
}

.login:hover a{
    color: red;
}
 
.headerright{ 
    display: flex;
    margin-right: 30px;
}    

.headerright a{
    text-decoration: none;
}

.headerright div{
    margin-right: 30px;
    font-size:20px;
}

.logo img {
width: 80px;
height:80px;
border-radius: 100px;
margin-left: 50px;
}

body{
    background-color: antiquewhite;
}

.driedfish ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.driedfish li{
    list-style: none;
}

.driedfish img{
    max-width: 25dvh;
    max-height: 25dvh;
    outline: auto;
}

.Vacuum ul li{
font-size: 20px;
font-family:'Courier New', Courier, monospace;
text-decoration:dotted;
padding-left: 10dvh;
}

.Vacuum h1{
font-size:30px;
}

/* Footer of the Page*/
.Footer {
    background-color:bisque;
    width:100%;
    position:relative;
    bottom: 0px;
    padding: 10px 50px
}